<div class="flex flex-col">
  <div
    class="my-1 mt-2 flex flex-col 2xl:flex-row xl:flex-row lg:flex-row gap-2"
  >
    <div
      class="flex-grow w-full overflow-hidden shadow-md border bg-slate-100 border-gray-300 dark:bg-slate-900 dark:border-gray-700"
    >
      <div class="px-6 py-4">
        <div class="font-bold text-4xl mb-3">Roster</div>
        <table
          class="table-auto w-full text-lg text-black my-8 dark:text-slate-100"
        >
          <thead>
            <tr
              class="font-medium uppercase border-b border-slate-300 dark:border-slate-600 text-xl italic bg-slate-300 dark:bg-slate-800"
            >
              <th>Role</th>
              <th>Name</th>
              <th>Skill</th>
              <th>KDA</th>
            </tr>
          </thead>
          <tbody class="bg-slate-200 dark:bg-slate-700">
            <tr
              class="border-b border-slate-300 dark:border-slate-600 text-center hover:bg-slate-100 dark:hover:bg-slate-600 cursor-pointer"
            >
              <td class="uppercase font-bold">Top</td>
              <td>BrokenBlade</td>
              <td>85</td>
              <td>2.75</td>
            </tr>
            <tr
              class="border-b border-slate-300 dark:border-slate-600 text-center hover:bg-slate-100 dark:hover:bg-slate-600 cursor-pointer"
            >
              <td class="uppercase font-bold">Jng</td>
              <td>Yike</td>
              <td>82</td>
              <td>2.1</td>
            </tr>
            <tr
              class="border-b border-slate-300 dark:border-slate-600 text-center hover:bg-slate-100 dark:hover:bg-slate-600 cursor-pointer"
            >
              <td class="uppercase font-bold">Mid</td>
              <td>Caps</td>
              <td>92</td>
              <td>3.5</td>
            </tr>
            <tr
              class="border-b border-slate-300 dark:border-slate-600 text-center hover:bg-slate-100 dark:hover:bg-slate-600 cursor-pointer"
            >
              <td class="uppercase font-bold">Adc</td>
              <td>Hans Sama</td>
              <td>89</td>
              <td>2.5</td>
            </tr>
            <tr
              class="border-b border-slate-300 dark:border-slate-600 text-center hover:bg-slate-100 dark:hover:bg-slate-600 cursor-pointer"
            >
              <td class="uppercase font-bold">Sup</td>
              <td>Mikyx</td>
              <td>87</td>
              <td>1.75</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
