<div class="flex flex-col">
  <div
    class="my-1 mt-2 flex flex-col 2xl:flex-row xl:flex-row lg:flex-row gap-2"
  >
    <div
      class="flex-grow w-full overflow-hidden shadow-md border bg-slate-100 border-gray-300 dark:bg-slate-900 dark:border-gray-700"
    >
      <div class="px-6 py-4">
        <div class="font-bold text-4xl mb-3">Roster</div>
        <table
          class="table-auto w-full text-lg text-black my-8 dark:text-slate-100"
        >
          <tbody>
            <tr class="border-b border-slate-300 dark:border-slate-600">
              <td class="px-6 uppercase font-bold">Top</td>
              <td class="px-6">BrokenBlade</td>
              <td class="px-6">85</td>
            </tr>
            <tr class="border-b border-slate-300 dark:border-slate-600">
              <td class="px-6 uppercase font-bold">Jng</td>
              <td class="px-6">Yike</td>
              <td class="px-6">82</td>
            </tr>
            <tr class="border-b border-slate-300 dark:border-slate-600">
              <td class="px-6 uppercase font-bold">Mid</td>
              <td class="px-6">Caps</td>
              <td class="px-6">92</td>
            </tr>
            <tr class="border-b border-slate-300 dark:border-slate-600">
              <td class="px-6 uppercase font-bold">Adc</td>
              <td class="px-6">Hans Sama</td>
              <td class="px-6">89</td>
            </tr>
            <tr class="border-b border-slate-300 dark:border-slate-600">
              <td class="px-6 uppercase font-bold">Sup</td>
              <td class="px-6">Mikyx</td>
              <td class="px-6">87</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
